<%- include('../../partials/header', {title: 'Past Assessments'}) %>
<%- include('../../partials/sidebar', { user: user, role: user.role }) %>

<style>
  .container {
      margin:auto;
      width: 650px; 
      padding: 20px;
  }

  /* Mobile responsiveness */
  @media (max-width: 768px) {
      .container {
          margin-left: 0; /* Remove margin for small screens */
      }
  }
  
</style>

<div class="container">
    <h1>Past Assessments</h1>
    <% if (assessments.length === 0) { %>
        <p>No past assessments available.</p>
    <% } else { %>
        <ul class="list-group">
            <% assessments.forEach(function(assessment) { %>
                <li class="list-group-item">
                    <a href="/headteacher/assessment/<%= assessment.id %>">
                        Week <%= assessment.weekNumber %> - <%= assessment.Student.name %>
                    </a>
                </li>
            <% }); %>
        </ul>
    <% } %>
</div>

<%- include('../../partials/footer') %>