<%- include('../../partials/header', {title: 'Add Student'}) %>
<%- include('../../partials/sidebar', { user: user, role: user.role }) %>

<style>
    .container {
        margin:auto;
        width: 50%;
        padding: 20px;
    }

    /* Mobile responsiveness */
    @media (max-width: 768px) {
        .container {
            margin-left: 0; 
            width: 100%;
        }
    }
    
</style>

<div class="dashboard-container container">
    <h1>Add New Student</h1>

<form action="/admin/student/add" method="POST">
    <div class="form-group">
        <label for="name">Student Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
        <label for="ClassId">Assign Class</label>
        <select class="form-control" id="ClassId" name="ClassId" required>
            <option value="">Select a class</option>
            <% classes.forEach(function(classItem) { %>
                <option value="<%= classItem.id %>"><%= classItem.name %></option>
            <% }); %>
        </select>
    </div>
    <a href="/admin/students" class="btn btn-secondary mt-3" style="margin: 0px !important;">Back</a>
    <button type="submit" class="btn btn-primary">Save</button>
</form>


</div>

<%- include('../../partials/footer') %>